<div class="header-hamburguer icon-btn_menu" ng-click="menuOpen = !menuOpen">
</div>
<a href="/" class="header-logo"></a>
<div class="header-separator"></div>
<div class="header-title-container">
    <span class="header-title">{{vm.title}} </span>
</div>
<div class="header-avatar">
    <div class="header-image"></div>
    <span class="header-name">Hola {{vm.userName}}!</span>
</div>