﻿<footer class="footer">
    <div class="footer-inner">
        <span class="footer-copyright">© 2016 VialSoft</span>
        <div class="footer-info">
            
            <nav class="footer-sitemap">
                <ul>
                    <li><a href="" class="footer-link">Terminos</a></li>
                    <li><a href="" class="footer-link">Privacidad</a></li>
                    <li><a href="" class="footer-link">Contacto</a></li>
                    <li><a href="" class="footer-link">Sitemap</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>