<form name="costeAssetForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver a Costos
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!costeAssetForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!costeAssetForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-inner-left">
            <div class="inline-input input input-padding-right" ng-show="!editMode">
                <label>Busqueda del Bien por Código</label>
                <input type="text" id="formId" ng-model="asset.Id" required/>
            </div>
            <button type="submit" class="button button-white button-action margin-right-10" ng-click="search()" ng-show="!editMode">
                <span class="icon-btn_search"></span> Buscar
            </button>
            <div class="inline-input input input-padding-right" ng-show="searchMode">
                <label>Descripcion</label>
                <input type="text" id="formDescription" ng-model="asset.Description"/>
            </div>

            <div class="inline-input input input-padding-right" ng-show="searchMode">
                <label>Valor del bien</label>
                <input type="number" id="formPriceAsset" ng-model="costeasset.PriceAsset" required/>
            </div>
            <div class="inline-input input input-center" ng-show="searchMode">
                <label>Amortización</label>
                <input type="number" id="formAmortization" ng-model="costeasset.Amortization" required/>
            </div>
            <div class="inline-input input input-padding-left" ng-show="searchMode">
                <label>Vida util del bien</label>
                <input type="number" id="formUsefulLife" ng-model="costeasset.UsefulLife" required/>
            </div>
            <div class="inline-input input input-padding-right" ng-show="searchMode">
                <label>Horas uso Anual</label>
                <input type="number" id="formAnualHorus" ng-model="costeasset.AnualHorus" required/>
            </div>
            <div class="inline-input input input-center" ng-show="searchMode">
                <label>% de Interes</label>
                <input type="number" id="formFinancialCosto" ng-model="costeasset.FinancialCost" required/>
            </div>
            <div class="inline-input input input-padding-left" ng-show="searchMode">
                <label>% Reparaciones/Repuestos</label>
                <input type="number" id="formRepair" ng-model="costeasset.Repair" required/>
            </div>
            <div class="inline-input input input-padding-right" ng-show="searchMode">
                <label>Factor HP</label>
                <input type="number" id="formFactorHp" ng-model="costeasset.FactorHp" required/>
            </div>
            <div class="inline-input input input-center" ng-show="searchMode">
                <label>Rendimiento</label>
                <input type="number" id="formPerformance" ng-model="costeasset.Performance" required/>
            </div>
        </div>
        <div class="form-container-inner-right">
            <div class="form-register-date">
                <span class="form-register-date-title">Fecha de Registracion</span>
                <span class="form-register-date-date" ng-bind="costeasset.CreatedAt || '---' | date: 'mediumDate'"></span>
            </div>
        </div>
    </div>
</form>
