<form name="customerForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver a Clientes
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!customerForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!customerForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-inner-left">
            <div class="form-image-customer form-image-customer-up visible-xs visible-sm">
                <input type="file" accept="image/*" class="form-image-customer-file" file-base64 data-b64="customer.Picture" />
                <button class="form-image-customer-button" ng-if="!customer.Picture">
                    <span class="icon-btn_new"></span>
                    <span>Agregar logo Cliente</span>
                </button>
                <div class="form-image-customer-img" style="background-image:url('{{customer.Picture}}');" ng-if="customer.Picture"></div>
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formName" class="margin-bottom-10">Nombre</label>
                <input type="text" id="formName" class="font-size-30" ng-model="customer.Name" required />
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formCity">Ciudad</label>
                <input type="text" id="formCity" ng-model="customer.City" required />
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formAddress">Direccion</label>
                <input type="text" id="formAddress" ng-model="customer.Address" required />
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formState">Provincia</label>
                <input type="text" id="formState" ng-model="customer.State" required />
            </div>        
            <div class="input">
                <label for="formEntity">Entidad</label>
                <select id="entity" ng-model="customer.Entity"
                        ng-options="option.id as option.text for option in options">
                </select>
            </div>
        </div>
        <div class="form-container-inner-right">
            <div class="form-image-customer visible-md visible-lg">
                <input type="file" accept="image/*" class="form-image-customer-file" file-base64 data-b64="customer.Picture" />
                <button class="form-image-customer-button" ng-if="!customer.Picture">
                    <span class="icon-btn_new"></span>
                    <span>Agregar logo de cliente</span>
                </button>
                <div class="form-image-customer-img" style="background-image: url('{{customer.Picture}}');" ng-if="customer.Picture">
                </div>
            </div>
            <div class="form-patients-number">
                <span class="form-patients-number-quantity" ng-bind="customer.CustomerId || 0"></span>
                <span class="form-patients-number-patients">CLIENTES</span>
            </div>
            <div class="form-register-date">
                <span class="form-register-date-title">Fecha de Registracion</span>
                <span class="form-register-date-date" ng-bind="customer.CreatedAt || '---' | date: 'mediumDate'"></span>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-100" ng-show="editMode">
        <a class="delete-button" href="" ng-click="removeCustomer()"><span class="icon-btn_delete"></span> Eliminar este cliente</a>
    </div>
</form>