<div class="row margin-bottom-15">
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)"/>
        <label for="selectAll">Seleccionar Todos</label>
    </div>
    <button class="pull-left margin-left-15 button button-white button-action" ng-click="remove()" ng-show="anySelected">
        <span class="icon-btn_delete margin-right-10"></span> Eliminar
    </button>
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()">
        <span class="icon-btn_new margin-right-10"></span> Crear Proveedor
    </button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Nombre </div>
        <div class="grid-col-10"> Ciudad </div>
        <div class="grid-col-10"> Provincia </div>
        <div class="grid-col-20"> CUIT </div>
        <div class="grid-col-15"> Tipo</div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="provider in providers" ng-class="{ 'selected' : provider.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{provider.ProviderId}}" ng-model="provider.selected" ng-change="refreshSelectedItems()"/>
                <label for="{{provider.ProviderId}}"></label>
                <img data-ng-src="data:image/png;base64,{{provider.Picture}}" 
                     class="grid-image" alt="" ng-if="provider.Picture != null"/>
            </div>
            <div class="grid-col-20" ng-bind="provider.Name"></div>
            <div class="grid-col-10" ng-bind="provider.City"></div>
            <div class="grid-col-10" ng-bind="provider.State"></div>
            <div class="grid-col-20" ng-bind="provider.Cuit"></div>
            <div class="grid-col-15" ng-bind="provider.TypeReceipt"></div>
            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_edit" ng-click="nagivateToDetail(provider.ProviderId)"></span>
                <span class="icon-btn_delete" ng-click="remove(provider)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>No hay datos</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">
        Ver Mas
    </button>
</div>