﻿@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?t1lf8d');
    src:    url('../fonts/icomoon.eot?t1lf8d#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?t1lf8d') format('truetype'),
        url('../fonts/icomoon.woff?t1lf8d') format('woff'),
        url('../fonts/icomoon.svg?t1lf8d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-btn_edit:before {
    content: "\e600";
}
.icon-btn_delete:before {
    content: "\e601";
}
.icon-btn_back:before {
    content: "\e602";
}
.icon-btn_new:before {
    content: "\e603";
}
.icon-btn_menu_dashboard:before {
    content: "\e605";
}
.icon-arrow_up:before {
    content: "\e606";
}
.icon-btn_menu:before {
    content: "\2630";
}
.icon-btn_back-right:before {
    content: "\e608";
}
.icon-btn_tick:before {
    content: "\e609";
}
.icon-btn_menu_work:before {
    content: "\e611";
}
.icon-btn_menu_customer:before {
    content: "\e612";
}
.icon-btn_menu_asset:before {
    content: "\e908";
}
.icon-accesories:before {
    content: "\f020";
}
.icon-btn_menu_tenant:before {
    content: "\e902";
}
.icon-btn_menu_purchase:before {
    content: "\e903";
}
.icon-btn_search:before {
    content: "\e904";
}
.icon-btn_menu_transferworks:before {
    content: "\e905";
}
.icon-btn_menu_provider:before {
    content: "\e906";
}
.icon-btn_menu_title:before {
    content: "\e907";
}
.icon-btn_menu_coste:before {
    content: "\f021";
}