﻿@import '../../base/_variables.scss';

$layout-menus-color: #1D1E2A;
$footer-background: $layout-menus-color;
$footer-text-color: #d4d4d8;
$footer-extra-padding-bottom: 30px;
$footer-text-line-height: 25px;

.footer {
    width: 100%;
    height: 100px;
    background: $back-color-nocontent;
    overflow: hidden;
    font-size: 0.8em;   
    color: $footer-text-color;
}

.footer-inner{
    display: flex;
    align-items: flex-end;
    padding: $container-padding;
    padding-bottom: $container-padding + $footer-extra-padding-bottom;
    max-width: $container-width;
    margin: 0 auto;    
}

.footer-logo {  
    opacity: .2;
}

.footer-info {
    flex: 1;
    text-align: right;
    padding-left: 50px;
}

.footer-sitemap {
    margin-left: 50px;
    display: inline-block;

    li {
        display: inline-block;
    }
}

.footer-copyright {
    line-height: $footer-text-line-height; 
}

.footer-link {
    line-height: $footer-text-line-height;
    margin-left: 30px;
    color: $footer-text-color;

    &:hover {
        color: darken($footer-text-color, 10%);
    }
}
