﻿@import '../../base/_variables.scss';

.form-container {
    background-color: $white-color;
    border-radius: 2px;
    border: 1px solid $border-bottom-input-color;

    @media #{$for-desktop-or-greater} {
        overflow: hidden;
    }
}

.form-container-without-right {
    width: 100%;
    padding: 45px 45px 15px 45px;

    @media #{$for-desktop-or-greater} {
        width: calc(100%);
        float: left;
    }

    > div {
        > label, > input {
            display: block;
        }

        > input, > textarea {
            margin-bottom: 35px;
        }

        > textarea {
            resize: none;
            min-height: 50px;
        }
    }
}

.inline-input {
    @media #{$for-desktop-or-greater} {
        width: calc(99.5%/3);
        display: inline-block;
    }
}

@media #{$for-desktop-or-greater} {
    .fix-after-icon {
        &:after {
            right: 32px;
        }
    }
}

