﻿@import '../../base/_variables.scss';


.form-container-inner-left {
    width: 100%;
    padding: 45px 45px 15px 45px;

    @media #{$for-desktop-or-greater} {
        width: calc(100% - 290px);
        float: left;

        .input-trademark {
            padding: 0 30px;
        }

        .input-category {
            padding: 0 30px;
        }

        .input-padding-right {
            padding-right: 30px;
        }

        .input-padding-left {
            padding-left: 30px;
            float: right;
        }
    }


    > div {
        > label, > input {
            display: block;
        }

        > input, > textarea {
            margin-bottom: 35px;
        }

        > textarea {
            resize: none;
            min-height: 100px;
        }
    }
}

.form-container-inner-right {
    width: 100%;

    @media #{$for-desktop-or-greater} {
        width: 290px;
        float: left;
    }

    > div {
        height: 176px;
        border-left: 1px solid $border-bottom-input-color;
        border-bottom: 1px solid $border-bottom-input-color;

        &:last-child {
            border-bottom: 0;
        }
    }
}

.inline-input {
    @media #{$for-desktop-or-greater} {
        width: calc(99.5%/3);
        display: inline-block;
    }
}

@media #{$for-desktop-or-greater} {
    .fix-after-icon {
        &:after {
            right: 32px;
        }
    }
}

.form-asset-number {
    padding-top: 30px;
}

.form-assests-cod {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    display: block;
    line-height: 75px;
}

.form-assests-number-assests {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: block;
    padding-top: 10px;
}

.form-accessories-title {
    text-align: center;
}

.form-accessories-title-name {
    padding-top: 65px;
    font-size: 18px;
    display: block;
}

.form-accessories-title-value {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: block;
    margin-top: 10px;

        &:hover {
        color: darken($greendark-color, 10%);
        cursor: pointer;
    }
}