﻿@import '../../base/_variables.scss';


.form-container-inner-left {
    width: 100%;
    padding: 45px 45px 15px 45px;

    @media #{$for-desktop-or-greater} {
        width: calc(100% - 290px);
        float: left;

        .input-center {
            padding: 0 30px;
        }

        .input-padding-right {
            padding-right: 30px;
        }

        .input-padding-left {
            padding-left: 30px;
            float: right;
        }
    }


    > div {
        > label, > input {
            display: block;
        }

        > input, > textarea {
            margin-bottom: 35px;
            
        }

        > textarea {
            resize: none;
            min-height: 100px;
        }
       
    }
}

.form-container-inner-right {
    width: 100%;

    @media #{$for-desktop-or-greater} {
        width: 290px;
        float: left;
    }

    > div {
        height: 176px;
        border-left: 1px solid $border-bottom-input-color;
        border-bottom: 1px solid $border-bottom-input-color;

        &:last-child {
            border-bottom: 0;
        }
    }
}

.inline-input {
    @media #{$for-desktop-or-greater} {
        width: calc(99.5%/3);
        display: inline-block;
    }
}

@media #{$for-desktop-or-greater} {
    .fix-after-icon {
        &:after {
            right: 32px;
        }
    }
}


