﻿@{
    ViewData["Title"] = "VialSoft";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/public-site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/public-site.min.css" asp-file-version="true" />
    </environment>
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/lib/js/lib.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/js/lib.min.js" asp-file-version="true"></script>
        <script src="~/js/site.min.js" asp-file-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
