﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VialSoft</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/private-site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/private-site.min.css" asp-file-version="true" />
    </environment>
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/lib/js/lib.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/app/app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/js/lib.js" asp-file-version="true"></script>
        <script src="~/js/site.js" asp-file-version="true"></script>
        <script src="~/app/app.js" asp-file-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
