﻿<div class="row margin-bottom-15">
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)" />
        <label for="selectAll">Seleccionar Todos</label>
    </div>
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> Crear Costo</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Descripción </div>
        <div class="grid-col-20"> Precio</div>
        <div class="grid-col-15"> Costo Teórico</div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="costeasset in costeassets" ng-class="{ 'selected' : costeasset.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{costeasset.CosteId}}" ng-model="costeasset.selected" ng-change="refreshSelectedItems()" />
                <label for="{{costeasset.CosteId}}"></label>
            </div>
            <div class="grid-col-20" ng-bind="costeasset.Asset.Description"></div>
            <div class="grid-col-20" ng-bind="costeasset.PriceAsset"></div>
            <div class="grid-col-15" ng-bind="costeasset.Coste"></div>

            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_edit" ng-click="nagivateToDetail(costeasset.CosteId)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>No hay datos</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">Ver Mas</button>
</div>