﻿<form name="assetForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver a Bienes
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!assetForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!assetForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-inner-left">
            <div class="form-image-customer form-image-customer-up visible-xs visible-sm">
                <input type="file" accept="image/*" class="form-image-customer-file" file-base64 data-b64="asset.Picture" />
                <button class="form-image-customer-button" ng-if="!asset.Picture">
                    <span class="icon-btn_new"></span>
                    <span>Agregar imagen del Bien</span>
                </button>
                <div class="form-image-customer-img" style="background-image:url('{{asset.Picture}}');" ng-if="asset.Picture"></div>
            </div>

            <div class="input">
                <label>Categoría</label>
                <select id="categories" required ng-model="asset.CategoryId"
                        ng-options="option.id as option.text for option in categories"
                        ng-change="getSubCategory()">
                </select>
            </div>
            <div class="input">
                <label>Sub Categoría</label>
                <select id="subcategories" required ng-model="asset.SubCategoryId"
                        ng-options="option.id as option.text for option in subcategories">
                </select>
            </div>
            <div class="input">
                <label>Obra</label>
                <select id="works" ng-model="asset.WorkId"
                        ng-options="option.WorkId as option.Description for option in works">
                </select>
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formDescription" class="margin-bottom-10">Descripcion</label>
                <input type="text" id="formDescription" class="font-size-30" ng-model="asset.Description" required/>
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}" ng-show="!editMode">
                <label for="formId">Codigo</label>
                <input type="text" id="formId" class="font-size-30" ng-model="asset.Id" required />
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formDetail">Detalle</label>
                <input type="text" id="formDetail" ng-model="asset.Detail" required />
            </div>
            <div class="inline-input input input-padding-right fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label for="formTradeMark">Marca</label>
                <input type="text" id="formTradeMark" ng-model="asset.TradeMark" required />
            </div>
            <div class="inline-input input input-trademark fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label for="formModel">Modelo</label>
                <input type="text" id="formModel" ng-model="asset.Model" required />
            </div>

            <div class="inline-input input input-padding-left" ng-class="{'input-edit' : editMode}">
                <label for="formCapacity">Capacidad</label>
                <input type="text" id="formCapacity" ng-model="asset.Capacity" required />
            </div>

            <div class="inline-input input input-padding-right fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label for="formDomain">Dominio</label>
                <input type="text" id="formDomain" ng-model="asset.Domain" required />
            </div>
            <div class="inline-input input input-trademark fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label for="formYear">Año</label>
                <input type="number" id="formYear" ng-model="asset.Year" required />
            </div>
            <div class="inline-input input input-padding-left" ng-class="{'input-edit' : editMode}">
                <label for="formNroSerie">Número Serie</label>
                <input type="text" id="formNroSerie" ng-model="asset.NumberSerie" required />
            </div>
            <div class="inline-input input input-padding-right fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label for="formTradeMarkMotor">Marca Motor</label>
                <input type="text" id="formTradeMarkMotor" ng-model="asset.MotorTradeMark" required />
            </div>
            <div class="inline-input input input-trademark fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label for="formMotorNumber">Número Motor</label>
                <input type="text" id="formMotorNumber" ng-model="asset.MotorNumber" required/>
            </div>
            <div class="inline-input input input-padding-left">
                <label>Potencia</label>
                <input type="text" id="formpower" ng-model="asset.Power" required/>
            </div>
            <div class="inline-input input input-padding-right fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label>% Lubricante</label>
                <input type="text" id="formlubricant" ng-model="asset.Lubricant" required />
            </div>
            <div class="inline-input input input-padding-right">
                <label>Propiedad</label>
                <select id="property" ng-model="asset.StatusAsset"
                        ng-options="option.id as option.text for option in options"
                        ng-change="changeProperty()">
                </select>
            </div>
            <div class="input" ng-show="!ownAsset">
                <label>Cliente</label>
                <select id="customers" required ng-model="asset.CustomerId"
                        ng-options="option.CustomerId as option.Name for option in customers">
                </select>
            </div>
        </div>
        <div class="form-container-inner-right">
            <div class="form-image-customer visible-md visible-lg">
                <input type="file" accept="image/*" class="form-image-customer-file" file-base64 data-b64="asset.Picture"/>
                <button class="form-image-customer-button" ng-if="!asset.Picture">
                    <span class="icon-btn_new"></span>
                    <span>Agregar imagen del Bien</span>
                </button>
                <div class="form-image-customer-img" style="background-image: url('{{asset.Picture}}');" ng-if="asset.Picture">
                </div>
            </div>
            <div class="form-work-number">
                <span class="form-works-cod" ng-bind="asset.Id || '---'"></span>
                <span class="form-works-number-works">Codigo del Bien</span>
            </div>
            <div class="form-accessories-title" ng-show="editMode">
                <span class="form-accessories-title-name"> Accesorios</span>
                <span class="form-accessories-title-value" ng-click="nagivateToAccessories(asset.AssetId)">Gestionar</span>
            </div>
            <div class="form-accessories-title" ng-show="editMode">
                <span class="form-accessories-title-name"> Ficha Mantenimiento</span>
                <span class="form-accessories-title-value" ng-click="nagivateToMaintenanceCard(asset.AssetId)">Gestionar</span>
            </div>
            <div class="form-register-date">
                <span class="form-register-date-title">Fecha de Registracion</span>
                <span class="form-register-date-date" ng-bind="asset.CreatedAt || '---' | date: 'mediumDate'"></span>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-100" ng-show="editMode">
        <a class="delete-button" href="" ng-click="removeAsset()"><span class="icon-btn_delete"></span> Eliminar este Bien</a>
        &nbsp;
    </div>
</form>