﻿<div class="row margin-bottom-15">
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)" />
        <label for="selectAll">Seleccionar Todos</label>
    </div>
    <button class="pull-left margin-left-15 button button-white button-action" ng-click="remove()" ng-show="anySelected"> <span class="icon-btn_delete margin-right-10"></span> Eliminar</button>
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> Crear Bien</button>
    <button class="pull-right button button-white button-action margin-right-10" ng-click="nagivateToPurchase()"> <span class="icon-btn_menu_purchase margin-right-10"></span> Compra</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-15"> Codigo </div>
        <div class="grid-col-20"> Descripcion </div>
        <div class="grid-col-20"> Categoria </div>
        <div class="grid-col-20"> SubCategoria </div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="asset in assets" ng-class="{ 'selected' : asset.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{asset.AssetId}}" ng-model="asset.selected" ng-change="refreshSelectedItems()"/>
                <label for="{{asset.AssetId}}"></label>
                <img data-ng-src="data:image/png;base64,{{asset.Picture}}"
                      class="grid-image" alt="" ng-if="asset.Picture != null"/>
            </div>
            <div class="grid-col-15" ng-bind="asset.Id"></div>
            <div class="grid-col-20" ng-bind="asset.Description"></div>
            <div class="grid-col-20" ng-bind="asset.Category.Name | lowercase"></div>
            <div class="grid-col-20" ng-bind="asset.SubCategory.Name | lowercase"></div>
            
            
            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_edit" ng-click="nagivateToDetail(asset.AssetId)"></span>
                <span class="icon-btn_delete" ng-click="remove(asset)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>No hay datos</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">Ver Mas</button>
</div>