﻿<form name="maintenancecardForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver a Equipos
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!maintenancecardForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!maintenancecardForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-without-right">
            <div class="input">
                <label>Periodo</label>
                <select id="period" ng-model="maintenancecard.PeriodId" required
                        ng-options="option.id as option.text for option in periods"
                        ng-change="getJobs()">
                </select>
            </div>
            <div class="input">
                <label>Tarea</label>
                <select id="job" ng-model="maintenancecard.JobId" required
                        ng-options="option.id as option.text for option in jobs">
                </select>
            </div>
            <div class="inline-input input input-padding-right">
                <label>Repuesto</label>
                <input type="text" id="formReplacement" ng-model="maintenancecard.Replacement" required/>
            </div>

            <button type="submit" class="button button-white button-action" ng-click="addMaintenanceCardDetail()">
                <span class="icon-btn_tick"></span> Agregar
            </button>
        </div> 
    </div>
</form>

<div class="row grid" ng-show="showDetail">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Periodo </div>
        <div class="grid-col-20"> Tarea</div>
        <div class="grid-col-20"> Repuesto</div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="detail in maintenancecards.MaintenanceCardDetail">

            <div class="grid-col-15 image-column">
            </div>

            <div class="grid-col-20" ng-bind="detail.PeriodId"></div>
            <div class="grid-col-20" ng-bind="detail.JobId"></div>
            <div class="grid-col-20" ng-bind="detail.Replacement"></div>

            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_delete" ng-click="removeAsset(detail)"></span>
            </div>

        </div>
    </div>
</div>