<div class="row margin-bottom-15">
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)" />
        <label for="selectAll">Seleccionar Todos</label>
    </div>
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> Crear Traslado</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Fecha </div>
        <div class="grid-col-20"> Tipo</div>
        <div class="grid-col-15"> Número </div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="transferwork in transfersworks" ng-class="{ 'selected' : transferwork.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{transferwork.TransferWorkId}}" ng-model="transferwork.selected" ng-change="refreshSelectedItems()"/>
                <label for="{{transferwork.TransferWorkId}}"></label>
            </div>
            <div class="grid-col-20" ng-bind="transferwork.CreatedAt | date"></div>
            <div class="grid-col-20" ng-bind="transferwork.TypeReceipt"></div>
            <div class="grid-col-15" ng-bind="transferwork.NumberReceipt"></div>

            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_edit" ng-click="nagivateToDetail(transferwork.TransferWorkId)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>No hay datos</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">Ver Mas</button>
</div>