﻿@{
    ViewData["Title"] = "VialSoft";
}
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid mh-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle hamburguer collapsed" data-toggle="collapse" data-target="#mh-menu">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="~/images/public/logo_home.png" asp-append-version="true" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="mh-menu">
                <div class="navbar-header visible-xs-block">
                    <img class="navbar-brand" src="~/images/public/logo_responsive_menu.png" asp-append-version="true" />
                    <img src="~/images/ico_close_menu.png" class="navbar-toggle collapsed nav-x-close" data-toggle="collapse" data-target="#mh-menu" asp-append-version="true" />
                </div>
                <ul class="nav navbar-nav">
                    <li class="actived"><a href="#">HOME</a></li>
                </ul>
                <ul class="nav navbar-nav login-container hidden-xs">
                    <li><a asp-controller="Account" asp-action="Login">Area Privada</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div id="banner" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner" data-slide-to="0" class="active"></li>
                <li data-target="#banner" data-slide-to="1"></li>
                <li data-target="#banner" data-slide-to="2"></li>
                <li data-target="#banner" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-inner-image-one hidden-xs"></div>
                    <h2 class="banner-text">
                        <strong> Conectate </strong> con tu empresa
                        <span class="banner-subtext">Informacion y avances de obra</span>
                    </h2>
                </div>
                <div class="item">
                    <div class="carousel-inner-image-two hidden-xs"></div>
                    <h2 class="banner-text">
                        <strong> Administre </strong> todos sus inventarios
                        <span class="banner-subtext">Seguimiento de su información de obra en cualquier momento</span>
                    </h2>
                </div>
                <div class="item">
                    <div class="carousel-inner-image-three hidden-xs"></div>
                    <h2 class="banner-text">
                        <strong> Facil de usar </strong> no importa donde estes
                        <span class="banner-subtext">Acceso total y detallada a la informacion mas importante</span>
                    </h2>
                </div>
                <div class="item">
                    <div class="carousel-inner-image-four hidden-xs"></div>
                    <h2 class="banner-text">
                        <strong> Administre </strong> y gestione sus equipos
                        <span class="banner-subtext">Nuestra tecnología le permite seguir y gestionar tus sus equipos viales.</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>