﻿<div class="row margin-bottom-15">
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> Crear Compra</button>
    <button class="pull-right button button-white button-action margin-right-10" ng-click="nagivateToAsset()"> <span class="icon-btn_menu_asset margin-right-10"></span> Bienes</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Fecha </div>
        <div class="grid-col-20"> Proveedor </div>
        <div class="grid-col-15"> Número </div>       
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="purchase in purchases" ng-class="{ 'selected' : purchase.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{purchase.PurchaseId}}" ng-model="purchase.selected" ng-change="refreshSelectedItems()" />
                <label for="{{purchase.PurchaseId}}"></label>
            </div>
            <div class="grid-col-20" ng-bind="purchase.CreatedAt | date"></div>
            <div class="grid-col-20" ng-bind="purchase.Provider.Name"></div>
            <div class="grid-col-15" ng-bind="purchase.NumberReceipt"></div>
            
            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_edit" ng-click="nagivateToDetail(purchase.PurchaseId)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>No hay datos</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">Ver Mas</button>
</div>