﻿<form name="accessoryForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver Accesorios
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!accessoryForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!accessoryForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-inner-left">
            <div class="form-image-customer form-image-customer-up visible-xs visible-sm">
                <input type="file" accept="image/*" class="form-image-customer-file" file-base64 data-b64="accessory.Picture" />
                <button class="form-image-customer-button" ng-if="!accessory.Picture">
                    <span class="icon-btn_new"></span>
                    <span>Agregar imagen Accesorio</span>
                </button>
                <div class="form-image-customer-img" style="background-image:url('{{accessory.Picture}}');" ng-if="accessory.Picture"></div>
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formDescription" class="margin-bottom-10">Descripcion</label>
                <input type="text" id="formDescription" class="font-size-30" ng-model="accessory.Description" required />
            </div>
        </div>
        <div class="form-container-inner-right">
            <div class="form-image-customer visible-md visible-lg">
                <input type="file" accept="image/*" class="form-image-customer-file" file-base64 data-b64="accessory.Picture" />
                <button class="form-image-customer-button" ng-if="!accessory.Picture">
                    <span class="icon-btn_new"></span>
                    <span>Agregar imagen Accesorio</span>
                </button>
                <div class="form-image-customer-img" style="background-image: url('{{accessory.Picture}}');" ng-if="accessory.Picture">
                </div>
            </div>
            <div class="form-patients-number">
                <span class="form-patients-number-quantity" ng-bind="accessory.AssetId || 0"></span>
                <span class="form-patients-number-patients">Id Bien</span>
            </div>
            <div class="form-patients-number">
                <span class="form-patients-number-quantity" ng-bind="accessory.AccessoryId || 0"></span>
                <span class="form-patients-number-patients">Accesorio</span>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-100" ng-show="editMode">
        <a class="delete-button" href="" ng-click="removeaccessory()"><span class="icon-btn_delete"></span> Eliminar este accesorio</a>
    </div>
</form>