﻿<div class="row margin-bottom-15">
    <button class="pull-left button button-white button-action" ng-click="navigateBackAsset()">
        <span class="icon-btn_back margin-right-10"></span>
        Volver al Bien
    </button>
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)" />
        <label for="selectAll">Seleccionar Todos</label>
    </div>
    <button class="pull-left margin-left-15 button button-white button-action" ng-click="remove()" ng-show="anySelected"> <span class="icon-btn_delete margin-right-10"></span> Eliminar</button>
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> Crear Accesorio</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-30"> Descripcion </div>
        <div class="grid-col-30"> Bien </div>
        <div class="grid-col-15"> Categoria </div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="accessory in accessories" ng-class="{ 'selected' : accessory.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{accessory.AccessoryId}}" ng-model="accessory.selected" ng-change="refreshSelectedItems()" />
                <label for="{{accessory.accessoryId}}"></label>
                <img data-ng-src="data:image/png;base64,{{accessory.Picture}}" class="grid-image" alt="accessory picture" />
            </div>
            <div class="grid-col-30" ng-bind="accessory.Description"></div>
            <div class="grid-col-30" ng-bind="accessory.Asset.Description"></div>
            <div class="grid-col-15" ng-bind="accessory.Asset.Category.Name"></div>
            <div class="grid-col-10 action-buttons">
                <!--<span class="icon-btn_edit" ng-click="nagivateToDetail(accessory.AccessoryId)"></span>-->
                <span class="icon-btn_delete" ng-click="remove(accessory)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>No hay datos</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">Ver Mas</button>
</div>