﻿<form name="tenantForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver a Propietario
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!tenantForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!tenantForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-without-right">
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formName" class="margin-bottom-10">Nombre</label>
                <input type="text" id="formName" class="font-size-30" ng-model="tenant.Name" required />
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formCity">Ciudad</label>
                <input type="text" id="formCity" ng-model="tenant.City" required />
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formAddress">Direccion</label>
                <input type="text" id="formAddress" ng-model="tenant.Address" required />
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formCuit">Cuit</label>
                <input type="text" id="formCuit" ng-model="tenant.Cuit" required />
            </div>           
        </div>
    </div>
    <div class="row margin-bottom-100" ng-show="editMode">
        <a class="delete-button" href="" ng-click="removetenant()"><span class="icon-btn_delete"></span> Eliminar este Propietario</a>
    </div>
</form>