﻿@import '../base/_variables.scss';

.select2-container
{
    margin-bottom: 20px;
    vertical-align: text-top;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: $greendark-color;
}

