﻿<form name="workForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver a Obras
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!workForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!workForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-inner-left">
            <div class="input">
                <label>Cliente</label>
                <select id="customers" required ng-model="work.CustomerId"
                        ng-options="option.CustomerId as option.Name for option in customers"></select>
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}" ng-show="!editMode">
                <label for="formId">Codigo</label>
                <input type="text" id="formId" class="font-size-30" ng-model="work.Id" required />
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label for="formDescription">Descripcion</label>
                <input type="text" id="formDescription" ng-model="work.Description" required />
            </div>
            
            <div class="inline-input input input-padding-right fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label for="formCity">Ciudad</label>
                <input type="text" id="formCity" ng-model="work.City" required />
            </div>
            <div class="inline-input input input-zipcode fix-after-icon" ng-class="{'input-edit' : editMode}">
                <label for="formZipCode">Codigo Postal</label>
                <input type="text" id="formZipCode" ng-model="work.ZipCode" required />
            </div>
            <div class="inline-input input input-padding-left" ng-class="{'input-edit' : editMode}">
                <label for="formCountry">Pais</label>
                <input type="text" id="formCountry" ng-model="work.Country" required />
            </div>
            
        </div>
        <div class="form-container-inner-right">
            <div class="form-work-number">
                <span class="form-works-cod" ng-bind="work.Id || '---'"></span>
                <span class="form-works-number-works">Codigo de Obra</span>
            </div>          
            <div class="form-register-date">
                <span class="form-register-date-title">Fecha de Registracion</span>
                <span class="form-register-date-date" ng-bind="work.CreatedAt || '---' | date: 'mediumDate'"></span>
            </div>

        </div>
    </div>
    <div class="row margin-bottom-100" ng-show="editMode">
        <a class="delete-button" href="" ng-click="removework()"><span class="icon-btn_delete"></span> Eliminar esta obra</a>
    </div>
</form>