﻿<div class="row margin-bottom-15">
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)" />
        <label for="selectAll">Seleccionar Todos</label>
    </div>
    <button class="pull-left margin-left-15 button button-white button-action" ng-click="remove()" ng-show="anySelected"> <span class="icon-btn_delete margin-right-10"></span> Eliminar</button>
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> Crear Obra</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-15"> Codigo </div>
        <div class="grid-col-35"> Descripcion </div>
        <div class="grid-col-10"> Ciudad </div>
        <div class="grid-col-15"> Estado </div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="work in works" ng-class="{ 'selected' : work.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{work.WorkId}}" ng-model="work.selected" ng-change="refreshSelectedItems()" />
                <label for="{{work.WorkId}}"></label>
                <img data-ng-src="data:image/png;base64,{{work.Customer.Picture}}" class="grid-image" alt="Work picture" />
            </div>
            <div class="grid-col-15" ng-bind="work.Id"></div>
            <div class="grid-col-35" ng-bind="work.Description"></div>
            <div class="grid-col-10" ng-bind="work.City"></div>
            <div class="grid-col-15" data-ng-bind-template="{{work.Status==true?'Activo':'Inactivo'}}">></div>
                      
            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_edit" ng-click="nagivateToDetail(work.WorkId)"></span>
                <span class="icon-btn_delete" ng-click="remove(work)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>No hay datos</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">Ver Mas</button>
</div>