<ul class="nav left-menu" id="left-menu">
    <li>
        <a ui-sref="dashboard" ng-class="{selected: vm.viewName === 'dashboard'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_dashboard left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Dashboard</span>           
        </a>
    </li>
    <li>
        <a ui-sref="tenants" ng-class="{selected: vm.viewName === 'tenants'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_tenant left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Propietarios</span>
        </a>
    </li>
    <li>
        <a ui-sref="customers" ng-class="{selected: vm.viewName === 'customers'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_customer left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Clientes</span>
        </a>
    </li>
    <li>
        <a ui-sref="providers" ng-class="{selected: vm.viewName === 'providers'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_provider left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Proveedores</span>
        </a>
    </li>
    <li>
        <a ui-sref="works" ng-class="{selected: vm.viewName === 'works'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_work left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Obras</span>
        </a>
    </li>
    <li>
        <a ui-sref="assets" ng-class="{selected: vm.viewName === 'assets'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_asset left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Bienes</span>
        </a>
    </li>
    <li>
        <a ui-sref="purchases" ng-class="{selected: vm.viewName === 'purchases'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_purchase left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Compras</span>
        </a>
    </li>
    <li>
        <a ui-sref="transfersworks" ng-class="{selected: vm.viewName === 'transfersworks'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_transferworks left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Traslados</span>
        </a>
    </li>
    <li>
        <a ui-sref="costeassets" ng-class="{selected: vm.viewName === 'costeassets'}">
            <div class="left-menu-icon-container">
                <span class="icon-btn_menu_coste left-menu-icon"></span>
            </div>
            <span class="left-menu-item">Costos</span>
        </a>
    </li>
</ul>

   
