﻿<section class="modal-confirm">
    <form name="assetForm" novalidate>
        <div class="row margin-bottom-15">
            <button class="pull-left button button-white button-action" ng-click="cancel()">
                <span class="icon-btn_back margin-right-10"></span>
                Cancelar
            </button>
            <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!assetForm.$valid">
                <span class="icon-btn_tick margin-right-10"></span> Agregar
            </button>
        </div>
        <div class="row form-container margin-bottom-15">
            <div class="form-container-inner-left">
                <div class="input">
                    <label>Categoría</label>
                    <select id="categories" required ng-model="asset.CategoryId"
                            ng-options="option.id as option.text for option in categories"
                            ng-change="getSubCategory()"></select>
                </div>
                <div class="input">
                    <label>Sub Categoría</label>
                    <select id="subcategories" required ng-model="asset.SubCategoryId"
                            ng-options="option.id as option.text for option in subcategories"></select>
                </div>
                <div class="input">
                    <label>Obra</label>
                    <select id="works" ng-model="asset.WorkId"
                            ng-options="option.WorkId as option.Description for option in works"></select>
                </div>
                <div class="input" ng-class="{'input-edit' : editMode}" ng-show="!editMode">
                    <label class="margin-bottom-10">Codigo</label>
                    <input type="text" id="formId" ng-model="asset.Id" required />
                </div>
                <div class="input" ng-class="{'input-edit' : editMode}">
                    <label>Descripcion</label>
                    <input type="text" id="formDescription" ng-model="asset.Description" required/>
                </div>             
                <div class="input">
                    <label>Propiedad</label>
                    <select id="property" ng-model="asset.StatusAsset"
                            ng-options="option.id as option.text for option in options"
                            ng-change="changeProperty()"></select>
                </div>
                <div class="input" ng-show="!ownAsset">
                    <label>Cliente</label>
                    <select id="customers" ng-model="asset.CustomerId"
                            ng-options="option.CustomerId as option.Name for option in customers"></select>
                </div>
            </div>
            <div class="form-container-inner-right">
                <div class="form-register-date">
                    <span class="form-register-date-title">Nota</span>
                    <span class="form-register-date-date">Información mínima del bien</span>
                </div>
                <div class="form-image-customer visible-md visible-lg">
                    <input type="file" accept="image/*" class="form-image-customer-file" file-base64 data-b64="asset.Picture"/>
                    <button class="form-image-customer-button" ng-if="!asset.Picture">
                        <span class="icon-btn_new"></span>
                        <span>Agregar imagen del Bien</span>
                    </button>
                    <div class="form-image-customer-img" style="background-image: url('{{asset.Picture}}');" ng-if="asset.Picture">
                    </div>
                </div>
                <div class="form-work-number">
                    <span class="form-works-cod" ng-bind="asset.Id || '---'"></span>
                    <span class="form-works-number-works">Codigo del Bien</span>
                </div>
                <div class="form-accessories-title" ng-show="editMode">
                    <span class="form-accessories-title-name"><span class="icon-accesories"></span> Accesorios</span>
                    <span class="form-accessories-title-value" ng-click="nagivateToAccessories(asset.AssetId)">Gestionar</span>
                </div>
                <div class="form-register-date">
                    <span class="form-register-date-title">Fecha de Registracion</span>
                    <span class="form-register-date-date" ng-bind="asset.CreatedAt || '---' | date: 'mediumDate'"></span>
                </div>


            </div>
        </div> 
    </form>
</section>