﻿<form name="providerForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver a Proveedores
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!providerForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!providerForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-inner-left">
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label class="margin-bottom-10">Nombre</label>
                <input type="text" id="formName" class="font-size-30" ng-model="provider.Name" required/>
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label>Ciudad</label>
                <input type="text" id="formCity" ng-model="provider.City" required/>
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label>Provincia</label>
                <input type="text" id="formState" ng-model="provider.State" required/>
            </div>
            <div class="input" ng-class="{'input-edit' : editMode}">
                <label>CUIT</label>
                <input type="text" id="formAddress" ng-model="provider.Cuit" required/>
            </div>
            <div class="input">
                <label>Tipo</label>
                <select id="typeReceipt" ng-model="provider.TypeReceiptId" required
                        ng-options="option.id as option.text for option in typeReceipts">
                </select>
            </div>
        </div>
        <div class="form-container-inner-right">
            <div class="form-image-customer visible-md visible-lg">
                <input type="file" accept="image/*" class="form-image-customer-file" file-base64 data-b64="provider.Picture"/>
                <button class="form-image-customer-button" 
                        ng-if="provider.Picture == null">
                    <span class="icon-btn_new"></span>
                    <span>Agregar logo de proveedor</span>
                </button>
                <div class="form-image-customer-img"
                     style="background-image: url('{{provider.Picture}}');" 
                     ng-if="provider.Picture != null">
                </div>
            </div>
            <div class="form-patients-number">
                <span class="form-patients-number-quantity" ng-bind="provider.ProviderId || 0"></span>
                <span class="form-patients-number-patients">PROVEEDORES</span>
            </div>
            <div class="form-register-date">
                <span class="form-register-date-title">Fecha de Registracion</span>
                <span class="form-register-date-date" ng-bind="provider.CreatedAt || '---' | date: 'mediumDate'"></span>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-100" ng-show="editMode">
        <a class="delete-button" href="" ng-click="removeProvider()">
            <span class="icon-btn_delete"></span> Eliminar este proveedor
        </a>
    </div>
</form>