<form name="purchaseForm" novalidate>
    <div class="row margin-bottom-15">
        <button class="pull-left button button-white button-action" ng-click="navigateBack()">
            <span class="icon-btn_back margin-right-10"></span>
            Volver a Compras
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="!editMode" ng-disabled="!purchaseForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Agregar
        </button>
        <button type="submit" class="pull-right button button-pink button-action" ng-click="save()" ng-show="editMode" ng-disabled="!purchaseForm.$valid">
            <span class="icon-btn_tick margin-right-10"></span> Guardar
        </button>
    </div>
    <div class="row form-container margin-bottom-15">
        <div class="form-container-inner-left">
            <div class="input">
                <label>Proveedor</label>
                <select id="provider" ng-model="purchase.ProviderId" required
                        ng-options="option.ProviderId as option.Name for option in providers"></select>
            </div>
            <div class="input">
                <label>Numero</label>
                <input type="number" id="formNumber" ng-model="purchase.NumberReceipt" required/>
            </div>
            <div class="inline-input input input-padding-right" ng-show="!editMode">
                <label>Busqueda del Bien por Código</label>
                <input type="text" id="formId" ng-model="asset.Id" required/>
            </div>
            <button type="submit" class="button button-white button-action margin-right-10" ng-click="search()" ng-show="!editMode">
                <span class="icon-btn_search"></span> Buscar
            </button>
            <button class="button button-white button-action margin-right-10"
                    ng-click="nagivateToAsset()" ng-show="!editMode">
                <span class="icon-btn_menu_asset margin-right-10"></span>Nuevo Bien
            </button>
            <div class="inline-input input input-padding-right" ng-show="searchMode">
                <label>Descripcion</label>
                <input type="text" id="formDescription" ng-model="asset.Description"/>
            </div>
            <div class="inline-input input input-padding-right" ng-show="searchMode">
                <label>Precio</label>
                <input type="number" id="formprice" ng-model="purchase.Price" required/>
            </div>

            <button type="submit" class="button button-white button-action" ng-show="searchMode" ng-click="addPurchaceDetail()">
                <span class="icon-btn_tick"></span> Agregar
            </button>
        </div>
        <div class="form-container-inner-right">
            <div class="form-register-date">
                <span class="form-register-date-title">Fecha de Registración</span>
                <span class="form-register-date-date" ng-bind="purchase.CreatedAt || '---' | date: 'mediumDate'"></span>
            </div>

            <div class="form-patients-number">
                <span class="form-patients-number-quantity" ng-bind="priceTotal || 0"></span>
                <span class="form-patients-number-patients">Total</span>
            </div>
        </div>
    </div>
</form>

<div class="row grid" ng-show="showDetail">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Codigo </div>
        <div class="grid-col-20"> Precio</div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="detail in purchase.Details">

            <div class="grid-col-15 image-column">
            </div>

            <div class="grid-col-20" ng-bind="detail.AssetId"></div>
            <div class="grid-col-20" ng-bind="detail.Price"></div>

            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_delete" ng-click="removeAsset(detail)"></span>
            </div>

        </div>
    </div>
</div>