<div class="row margin-bottom-15">
    <button class="pull-left button button-white button-action" ng-click="navigateBackAsset()">
        <span class="icon-btn_back margin-right-10"></span>
        Volver al Bien
    </button>
    <button class="pull-right button button-pink button-action" ng-show="newMaintenanceCard" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> Crear Ficha</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Periodo </div>
        <div class="grid-col-20"> Tarea </div>
        <div class="grid-col-20"> Repuesto </div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="maintenancecard in maintenancecards" ng-class="{ 'selected' : maintenancecard.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{maintenancecard.MaintenanceCardDetailId}}" ng-model="maintenancecard.selected" ng-change="refreshSelectedItems()" />
                <label for="{{maintenancecard.MaintenanceCardDetailId}}"></label>
            </div>
            <div class="grid-col-20" ng-bind="maintenancecard.Period.Name"></div>
            <div class="grid-col-20" ng-bind="maintenancecard.Job.Name"></div>
            <div class="grid-col-20" ng-bind="maintenancecard.Replacement"></div>
                       
            <div class="grid-col-10 action-buttons">
                <span class="icon-btn_delete" ng-click="remove(maintenancecard.MaintenanceCardDetailId)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>No hay datos</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">Ver Mas</button>
</div>